@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
}
body {
  background: linear-gradient(74deg, rgb(20, 9, 67), rgb(73, 13, 145));
  color: white;
  font-family: "poppins", serif;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  background: linear-gradient(44deg, rgb(3, 9, 61), rgb(116, 24, 162));
}
nav ul {
  display: flex; /* flex container arranges the items (Item 1, Item 2, Item 3) horizontally in a row. */
  justify-content: center;
}
nav ul li {
  list-style: none; /*this will remove the bullet points from list */
  margin: 0 23px; /* this sets the margin of top-bottom to 0px and 23px for left and right*/
}
nav ul li a {
  text-decoration: none;
  color: white;
}
nav ul li a:hover {
  color: rgb(112, 96, 184);
}

---------------------------------------------------------------------------------
.left {
  font-size: 1.6rem;
}
main hr {
  border: 0;
  background: rgb(137, 125, 226);
  height: 1.2px;
  margin: 60px 90px;
}
.firstSection {
  display: flex;
  margin: 80px;
  justify-content: space-around;
  align-items: center;
}
.firstSection > div {
  /* By adding '>' this symbol in-between we can apply this css only to the first div of first section */
  width: 30%;
}

.leftSection {
  font-size: 3rem;
}
.leftSection .btn {
  padding: 12px;
  background: #1e2167;
  color: white;
  border: 2px solid;
  border-radius: 6px;
  font-size: 20px;
  cursor: pointer;
}
.rightSection .myphoto {
  width: 100%;
  margin-left: 8rem;
  margin-top: 0rem;
  border: 0px solid rgb(0, 0, 210);
  border-radius: 57% 40% 52% 33%;
  background: linear-gradient(119deg, rgba(3, 9, 61, 0.9), rgba(116, 24, 162, 0.8), rgba(255, 106, 193, 0.7));
  filter: saturate(77%);
}

.purple {
  color: rgb(137, 125, 226);
}
#element {
  color: rgb(137, 125, 226);
}
.secondSection {
  max-width: 80vw;
  margin: auto;
  height: 80vh;
}
.secondSection h1 {
  font-size: 1.9rem;
}
.secondSection .box {
  background-color: white;
  width: 80vw;
  height: 2px;
  margin: 56px 0px;
  display: flex;
}
.secondSection .vertical {
  height: 80px;
  width: 1px;
  background-color: white;
  margin: 0 180px;
}
.vertical-title {
  position: relative;
  top: 80px;
  left: -34px;
}
.vertical-desc {
  position: relative;
  top: 79px;
  width: 226px;
  color: gray;
  font-size: 13px;
  left: -34px;
}
